.product_project {
  font-family: 'Montserrat', sans-serif   ;
  font-size: 13px;
  color: #515076;
  /*background-image: url(../images/fon.jpg);*/
}

.title_aqua {
  text-align: center;
  font-size: 70px;
  color: #515076;
  font-weight: 400;
}

.name_card {
  font-size: 20px;
}

.maska_card {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 318px;
}

.mousse_card {
  background-size: contain ;
  background-position: center ; 
  background-color: #F7F7FA;
  width: 318px;
  height: 450px;
  top: 408px;
  left: 85px;
}

.gell_card {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 318px;
  height: 450px;
}

.maskalittle_card {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 318px;
  height: 450px;
}

.all_card {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 318px;
  height: 450px;
}

#product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  list-style: none;
  justify-content: center;
}

.fon_background {
  width: 790px;
  height: 697px;
  top: -0px;
  left: 85px;
}

.destiny_card {
  color: #A5A3B9;
  font-size: 12px;
}