.product {
  font-family: 'Montserrat', sans-serif   ;
  font-size: 15px;
  color: aqua;
  background-image: url(../images/fon.jpg);
}

.price {
  color: black;
  background-color: green;
}

.title {
  text-align: center;
  font-size: 48px;
  color: aqua;
}

.name {
  font-size: 33px;
}

.maska {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 361px;
}

.mousee {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 361px
}

.gell {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 361px
}

.maskalittle {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 361px
}

.all {
  background-size: contain ;
  background-position: center ;
  background-color: #F7F7FA;
  width: 361px
}

#product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  list-style: none;
  justify-content: center;
}